*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    line-height: 1.5;
    list-style: none;
    box-sizing: border-box;
    font-family:  "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
}
@mixin pad{
    @media (max-width: 996px) {
        @content
    }
}

@mixin mobile {
    @media (max-width: 768px) {
        @content
    }
}


img{
    max-width: 100%;
    height: auto;
    display: block;
}

.d-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-md-wrap{
    @include mobile{
        flex-wrap: wrap;
    }
}
.flex-md-col-reverse{
    @include mobile{
        flex-direction: column-reverse;
    }
}
.jy-content{
    &-center{
        justify-content: center;
    }
    &-between{
        justify-content: space-between;
    }
    &-around{
        justify-content: space-around;
    }
    &-md-center{
        @include mobile{
            justify-content: center;
        }
    }
}

.align-items{
    &-center{
        align-items: center;
    }
}

.text{
    &-white{
        color: white;
    }
}

.title{
    &-sm{
        font-size: 18px;
        font-weight: bold;
        @include mobile{
            font-size: 16px;
        }
    }
    &-lg{
        font-size: 24px;
        font-weight: bold;
    }
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding-right: 144px;
    padding-left: 144px;
    @include mobile{
        padding-right: 40px;
        padding-left: 40px;
    }
}

.header{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #003D79;
    position: fixed;
    width: 100%;
    top: 0;
    @include mobile{
        padding-bottom: 10px;
    }
    h1{
        font-size: 36px;
        @include mobile{
            flex: 0 0 100%;
            text-align: center;
        }
    }
    &__menu{
        @include mobile{
            flex: 0 0 100%;
            justify-content: space-between;
        }
        a{
            color:white;
            padding: 8px 12px;
            display: block;
            @include mobile{
                font-size: 4vw;
            }
            &:hover{
                color: yellow;
            }
        }
    }
}

.banner{
    margin-top: 94px;
    background-image: url(https://training.pada-x.com/images/welcome0.jpg);
    background-size:cover;
    background-position: center center;
    height: 480px;
    @include mobile{
        height: 300px;
        margin-top: 118px;
    }
}

.resume{
    padding-top: 30px;
    padding-bottom: 30px;
    &:target{
        padding-top: 94px;
        @include mobile{
            padding-top: 140px;
        }
    }
    h2{
        text-align: center;
        margin-bottom: 8px;
        flex: 0 0 100%;
        @include mobile{
            order: 1;
        }
    }
    &__text{
        flex: 0 0 70%;
        @include mobile{
            flex: 0 0 100%;
            order: 3;
        }
        p{
            padding: 0 15px;
        }
    }
    &__image{
        flex: 0 0 30%;
        background-image: url(./image/S__1966125.jpg);
        background-size: cover;
        height: 300px; 
        @include mobile{
            flex: 0 0 50%;
            order: 2;
            height: 200px;
            margin-bottom: 15px;
            border-radius: 50%;
        }      
    }
}
.question{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: lightgray;
    &:target{
        padding-top: 94px;
        @include mobile{
            padding-top: 140px;
        }
    }
    h2{
        text-align: center;
        margin-bottom: 8px;
    }
    &__part{
        padding: 15px;
        @include mobile{
            padding: 0;
            margin-bottom: 20px;
        }
        h3{
            margin-bottom: 12px;
            color: #003D79;
        }
        p{
            padding: 0 36px;
            @include mobile{
                padding-left: 20px;
                padding-right: 0;
            }
        }
    }
}

.footer{
    background-color: #003D79;
    padding: 30px;
    @include mobile{
        padding: 20px 0;
    }
    p{
        text-align: center;
    }
    a{
        display: block;
        padding: 15px 30px;
        i{
            font-size: 24px;
        }
        &:hover{
            i{
                color:yellow;
            }
        }
    }
}